{% extends "@Merchant/Default/index.html.twig" %}
{% block body %}
    <div class=" main" align="center">
        <h2>Merchant Signup</h2>
    </div> 
         <div align="left">
         {% if errors  %}
               <ul>
                   {%for er in errors  %}
                    <li>
                       {{ er.message }}
                    </li>
                   {% endfor %}
               </ul>
           {% endif %}
           {% if error1 %}
               <ul>
                {% for er1 in error1 %}
                    <li>
                    {{ er1.message }}

                    </li>
                {% endfor %}
               </ul>
           {% endif %}

           {% if message %}
                {{ message }}
               {{ "check your email-id or mobile number "}}
            {% endif %}

          </div>  
    <div class="container" style="padding:50px 15px 15px 30px;margin-left:35%">

            {{ form_start(form)}}
            {{ form_row(form.companyName)}}
            {{ form_row(form.contactPersonName)}}
            {{ form_row(form.email)}}
            {{ form_row(form.mobileNo)}}
            {{ form_row(form.password )}}
            {{ form_row(form.address_line1) }}
            {{ form_row(form.address_line2) }}
            {{ form_row(form.pincode) }}
            {{ form_row(form.state ,{ 'attr':{'class': 'drop-down'}}) }}
            {{ form_row(form.country ,{'attr':{'class': 'drop-down'}}) }}
            <br/>
            {{ form_row(form.companylogo,{ 'attr':{'class': 'drop-down'}}) }}
          
            <div id="buttons" padding="10em">
           <p><button type="submit" style="width:80px" class="btn btn-log btn-primary">Register</button>
           <button type="reset" style="width:80px" class="btn btn-log btn-primary">Clear</button><br/></p>
            </div>
           {{ form_end(form)}}
            <a href="{{ path('merchant_login') }}">Already have an account? SignIn!!</a>
    </div>
     
        
  <script>
  $(document).ready(function(){
		$("#merchant_email").live('change',function() {
			 var emailaddress = $j("#merchant_email").val();
			  // validation here? 
			  if(emailaddress){

				  } 
			  // end validation 
			  $j.ajax({ type: "POST", 
			  url: "../ff-admin/ff-register/ff-user-check.php", 
			  data: "fld_emailaddress="+ emailaddress, success: function(msg) { 
			  if(msg == 'OK') { $j("#fld_username").attr('disabled',false); 
			  $j("#fld_password").attr('disabled',false);
			  $j("#cmd_register_submit").attr('disabled',false);
			  $j("#fld_emailaddress").removeClass('object_error');             
             // if necessary 
           $j("#fld_emailaddress").addClass("object_ok"); 
           $j('#email_ac').html('&nbsp;<img src="img/cool.png" align="absmiddle"> <font color="Green">
              Your email <strong>'+ emailaddress+'</strong> is OK.</font> '); 
           } 
		  else {
            $j("#fld_username").attr('disabled',true);
            $j("#fld_password").attr('disabled',true);
            $j("#cmd_register_submit").attr('disabled',true); 
            $j("#fld_emailaddress").removeClass('object_ok'); 
            // if necessary
            $j("#fld_emailaddress").addClass("object_error"); 
            $j('#email_ac').html(msg); } } }); });
			alert("Email should contain @")		
	        });
				
	});
  </script>
  <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
      <script src="vendor/jquery-validation/dist/jquery.validate.min.js"></script>
{% endblock %}