{% extends "@Customer/Default/index.html.twig" %}
{% block body %}
    <div class="main" align="center">
    <h2 class="header">Customer Login</h2>
    <div class="container" style=" padding: 20px 15px 15px 20px" >
        {% if error %}
            <div style="color: darkred">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="email" value="{{ last_username }}" />
        <br/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <br/>
        <input type="checkbox" id="remember_me" name="_remember_me" checked />
        <label for="remember_me">Keep me logged in</label><br/>
        <button type="submit" style="width:60px" class="btn btn-log btn-primary" >login </button>  <br/><br/>
        
        <a href="{{ path('customer_registration') }}">New to Jinikart? SignUp!!</a><br/>
       <a href="{{ path('customer_forgotpassword_page') }}">forgot the password!!</a>
      </form>
      </div>
{% endblock %}