{% extends "@Customer/Default/index.html.twig" %}
{% block stylesheets %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.profilePic:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
    
     
}
input:focus {
    background-color: #f1f1f1;
}
</style>

{% endblock %}
{% block body %}
    <div class="header" style="color-interpolation: linearRGB;  color:#7DA0B1; top =oem">
      <h1 align="center">jinikart</h1>       
    </div>
    {% if message %}
                {{ message }}
               {{ "check your emailid or mobile number "}}
    {% endif %}
      
      
 	   
  	 
 <div class="container">
 	
	  <div class = "profilePic" style="height:120px;width:120px; border:5px solid #A0A3A6; border-radius:5px; text-align: center;"data-toggle="modal" data-target="#myModal">
	  <div style="padding:2px 2px 2px 2px" id ="editPicImage">
	  <img src="https://s3.ap-south-1.amazonaws.com/jiniproductphotos/profileImage/{{ image }}" alt="Customer Profile" height=110 width=100 >
	  </div>
	  <div style="padding:50px 10px 10px 10px" id ="editPicContent">
	    
	  </div>

      </div>
      <div class="profilepic"  id="editPicture">     
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">    
          <div class="modal-content">
            <div class="modal-header">            
               <h4 class="modal-title">Update the profile picture</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            {{ form_start(imageform) }}
            {{ form_row(imageform.profile_photo) }}
            <button type="submit" style="margin-left:7em"  id="imageupdate">upload</button>
 			{{ form_end(imageform) }}           
            </div>
        </div>
      </div>
     </div>
  
	</div>	
        <div class="customerprofileform" >  
        <h6>Note:if text box color is yellow that means readonly field.</h6> 	   
            {{ form_start(form)}}
            {{ form_row(form.fname)}}
            {{ form_row(form.lname)}}
            {{ form_row(form.email)}}
            {{ form_row(form.mobile_no)}}         
            {{ form_row(form.address_line1)}}
            {{ form_row(form.address_line2) }}
            {{ form_row(form.pincode) }}
            {{ form_row(form.state) }}
            {{ form_row(form.country) }}
            {{ form_row(form.plan) }}
            {{ form_row(form.question1) }}
            {{ form_row(form.question2) }}
	
            <br/>
            <button type="submit" style="margin-left:7em"  id="customerprofileupdate">update</button>
            {{ form_end(form) }}
            </div>
     </div>         
          
         
{% endblock %}
{% block javascripts %}


<script src={{ asset('/js/CustomerProfile.js') }}></script>

{% endblock %}