{% extends "@Customer/Default/index.html.twig" %}

{% block body %}
    <div class=" main" align="center">
        <h2>Customer Signup</h2>
    </div>
       <div align="left">
           {% if errors  %}
               <ul>
                   {%for er in errors  %}
                    <li>
                       {{ er.message }}
                    </li>
                   {% endfor %}
               </ul>
           {% endif %}
           {% if error1 %}
               <ul>
                {% for er1 in error1 %}
                    <li>
                    {{ er1.message }}

                    </li>
                {% endfor %}
               </ul>
           {% endif %}

           {% if message %}
                {{ message }}
               {{ "check your emailid or mobile number "}}
            {% endif %}

         </div>
          <div class="container" style="padding:50px 15px 15px 30px;margin-left:30%">

            {{ form_start(form) }}<span id="checkfName" style="color:red "></span>
            {{ form_row(form.fname,  { 'attr': {'class': 'form-group'} }) }}
            <span id="checklname" style="color:red "></span>
            {{ form_row(form.lname,  { 'attr': {'class': 'form-group'} }) }}
            <span id="checkemail" style="color:red "></span>
            {{ form_row(form.email,    { 'attr': {'class': 'form-group'} }) }}
            <span id="checkmobile" style="color:red "></span>
            {{ form_row(form.mobile_no,  { 'attr': {'class': 'form-group'} }) }}
            {{ form_row(form.password,  { 'attr': {'class': 'form-group'} }) }}
            {{ form_row(form.address_line1,  { 'attr': {'class': 'form-group'} }) }}
            {{ form_row(form.address_line2,  { 'attr': {'class': 'form-group'} }) }}
            <span id="checkpincode" style="color:red "></span>
            {{ form_row(form.pincode,  { 'attr': {'class': 'form-group'} }) }}
            {{ form_row(form.country, { 'attr': {'class': 'drop-down'} }) }}
            {{ form_row(form.state,  { 'attr': {'class': 'drop-down'} }) }}
            {{ form_row(form.country, { 'attr': {'class': 'drop-down'} }) }}
            <span id="checkq1" style="color:red "></span>
            {{ form_row(form.question1, { 'attr': {'class': 'drop-down'} }) }}
            <span id="checkq2" style="color:red "></span>
            {{ form_row(form.question2, { 'attr': {'class': 'drop-down'} }) }}
            

            <br/>
            {{ form_row(form.profile_photo,  { 'attr': {'class': 'form-group'} }) }}
            <div id="buttons" class="btn">
            <button type="submit">Register!</button>
            <button type="reset">Clear</button>
            </div>
            {{ form_end(form) }}
        </div>
    <div>    
       
       <a href="{{ path('login') }}">Already have an account? SignIn!!</a>s
   </div>

{% endblock %}
{% block javascripts %}
<script src={{ asset('/js/customerRegister.js') }}></script>
{% endblock %}
 