{% extends "@Customer/Default/index.html.twig" %}
{% block body %}
    <div class="header" style="color-interpolation: linearRGB;background-color: #7DA0B1;color:white">
      <h1 align="center">Welcome to jinikart</h1>
    </div>
        
     <div class="col-sm-10 col-md-8 col-lg-11"  id="orderlistContainer" style="padding:20px 20px 20px 20px;">
    {% if orders %}
    	{%  for order in orders %}
			{% if order.orderStatus!="reject" %}
     	 <div class=" well" id="product" style="background-color: #ff9800;margin-Top:2em; margin-left:5em; padding:20px 20px 20px 20px;" >        
		 <p><h4>Customer Name &nbsp&nbsp:&nbsp&nbsp&nbsp&nbsp{{ order.fname }}{{ order.lname }}<br></h4>
             <h5>Mobile Number&nbsp&nbsp:&nbsp&nbsp&nbsp&nbsp{{ order.mobileNo }}<br>
                 Email&nbsp&nbsp:&nbsp&nbsp&nbsp&nbsp{{ order.email }}<br>
                 <br></h5><h4>Product Information&nbsp&nbsp:&nbsp&nbsp&nbsp&nbsp{{order.productName}}
                </h4><h5>IMEI number&nbsp&nbsp:&nbsp&nbsp&nbsp&nbsp{{ order.productIMEI }}<br>
                Order Status&nbsp&nbsp:&nbsp&nbsp&nbsp&nbsp{{ order.orderStatus}}</h6></p>
		 		<button type="submit"  onclick="window.location.href='{{ path('orderinvoicePdf_page', {'order':order.id }) }}'">download product Order pdf</button>
		 		{% if order.orderStatus=="proceed" %}
		 		<input type="hidden" id="url" name="url" value="{{ path('orderaccept_page', {'order':order.id }) }}"/> 		 		
		 		<button type="submit"  onclick="window.location.href='{{ path('orderaccept_page', {'order':order.id }) }}'">Accept</button>	 
		 		<button type="submit"  onclick="window.location.href='{{ path('orderreject_page', {'order':order.id }) }}'">Reject</button>	 
				{% endif %}
		</div>
		{% endif %}
	    {% endfor %}
    {% else %}
    <h4>product order not found</h4>
    {% endif %}<br><br>
    <button type="submit"  onclick="window.location.href='{{ path('invoicePdf_page') }}'">download invoice file</button>	 
   </div>

{% endblock %}

{% block javascripts %}

<script src={{ asset('/js/Order.js') }}></script>

{% endblock %}

