{% extends "@Merchant/Default/homepage.html.twig" %}
{% block body %}
<h2>Added Products</h2>
<div class="container" align="center" padding="50px 30px 50px 80px">
  
     {% if (count>0) %}
   
      <table style="border: 2px solid black;text-align:center;">
      <tr  style="border: 2px solid black;">
        <th>Product Name</th>
         <th>Price</th> 
        <th>Coupon</th>      
        <th>Color</th>
        <th>RAM</th>
        <th >Description</th>
        <th></th>
        <th></th>
      </tr>
      {% for pro in product %}  
        <tr  style="border: 2px solid black;">
        <td>{{ pro.productId.productName }}</td>
        <td>{{ pro.productId.productPrice }}</td>
        <td>{{pro.productId.coupon}}</td>   
        <td>{{ pro.productId.productDescriptionId.color }}</td>
        <td>{{ pro.productId.productDescriptionId.ramSize }}</td>
        <td>{{ pro.productId.productDescriptionId.productCompleteInfo }}</td>
         <th><a href="{{ path('update') }}">Update</a></th>     
         <td><button type="submit"  onclick="window.location.href='{{ path('coupon',{'id' :pro.productId.id}) }}'">Generate Coupon</button></td> 
      </tr>   
       {% endfor %} 
     {% else %}
     <p>No product Added</p>
     {% endif %}
 </table> <br/><br/>
 <div align="center">

</div>
</div>

{% endblock %}

